
#wrapper{
    background: #f8f8f8;

}
.cardxtra {
    padding: 15px;
    height: 130px;
}
.cardxtra .xtitle{
    font-weight: 500;
    /* font-size: 1.2em */
}
.bgwhite{
    background: #fff
}
.cardxtra .xprice{
    bottom: 10px;
    position: absolute;
    width: 92%;
}
.cardxtra .xreview .star-rating{
   font-size: 0.8em;
   padding: 0px
}
.cardxtra .xreview .star-rating a{
    font-size: 0.8em
}
.xcapitalize{
    text-transform: capitalize !important
}
.xuppercase{
    text-transform: uppercase !important
}

.cardxtra .xprice > span {
font-size: 1.2em;
font-weight: bold
}
.lightseagreen{
    color: lightseagreen
}

.grey{
    color: grey
}
.xfa-2x{
    font-size: 1.4em;
    margin-right: 5px
}
.bgred{
    background: #f91942
}
.redcolor{
    color: darkorange
}
.row{
    margin: 0px !important
}
button.slick-arrow.slick-next{
    right: 100px;
}
button.slick-arrow.slick-prev{
left: 100px; 
}

.listing-item{
    height: 200px;
    background: #fff;
}
.xcontainer{
    width: 95%;
    margin: auto;
}
.zero,.destinationmodal{
    padding: 0px !important;
    margin:0px !important;
}
.destinationmodal input.form-control{
    margin: 0px;
    padding: 10px 0px;
    border: 0px;
    border-bottom: 1px solid #e8e8e8;
}
.destinationmodal input.form-control::placeholder{
    padding-left: 20px;
}
.destinationmodal .regions{
    padding: 10px 30px 10px 20px;
    border:1px solid #e8e8e8;
    border-bottom: 0px;
    border-left: 0px;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;

}
.signinmodal{
    /* margin-top: 400px; */
    background: none !important;
    min-width: 500px;
}
.destinationmodal .countries{
    padding: 5px 20px;
    border: 0px;
    background: transparent;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;

}
.destinationmodal .cities{
    font-size: 0.9em;
    padding: 5px 15px 5px 0px
}
.destinationmodal .regions:hover{
    background:#f91942;
    color: #fff;
}
.destinationmodal .regions i{
    display: none
}
.destinationmodal .regions i.fa-chevron-left{
    display: none;
}
.destinationmodal .regions:hover i.fa-chevron-right,.destinationmodal .regions:focus i.fa-chevron-right{
    display: block
}
.destinationmodal .regions:focus{
    background: #f91942;
    color: #fff;
}
.destinationmodal .regions i{
  position: absolute;
  right: -7px;
  top: 12px;
  z-index: 2;
  font-size: 1.3em;
  color: #f91942
}
.btn-danger{
    background: #f91942;
}
.xpackage{
    background: #f8f8f8;
    margin: 10px 0px;
    border: 1px solid #e8e8e8
}
.xpackage .xptitle{
    font-weight: bold;
    padding: 20px;

}
.xpackage .xdrop{
    cursor: pointer;
}
.xpackage .xdropdown, .xpackage-option{
    padding: 20px
}
.xpackage .xpcontent{
    display:none;
    font-size: 0.9em;
    padding: 20px;

}
.xpackage .btn{
    background: transparent;
    border:1px solid #f91942;
    color: #f91942;
    padding: 7px 30px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500
}
.xpackage .xprice{
    font-weight: bold;
    margin: 0px 10px;
    font-size: 1.1em;
}
 .fixbook{
    position: fixed;
    top: 130px;
    z-index: 1021;
    width:25%;
    margin-top: 0px !important;
    padding-top: 20px;
}

.fixjumper{
    position: fixed;
    top: 69px;
    width: -webkit-fill-available;
    z-index: 1020;
}
.fixjumper a{
    font-size: 0.8em;
}
.listing-slider, .listing-slider.item{
 overflow: hidden;
 min-height: 450px
}
#header{
    position: fixed;
    width: -webkit-fill-available;
    background: #fff;
    z-index: 1025;
    box-shadow: none;
    top:0;
    border-bottom: 1px solid #e8e8e8
}
#header-container{
    min-height: 60px;
}
.fixjumper .listing-nav{
    padding-top: 10px
}

.left-side{
    width: 60%;
}
.left-side #logo{
    padding-left: 30px;

}
.right-side{
    width: 40%
}
.slick-dots li:after{
    height: 0px !important;
    position: relative !important;
    top:0 !important;
}
.mfp-gallery img{
width: 100%
}

.m-menu{
    width: 60%;
    overflow: hidden;
    position: fixed;
    z-index: 1026;
    height: 100%;
    background: #111;
    left: 0;
    top:0;
    transition: 0.3s ease-in;
    background: #f8f8f8;
    transition: 0.3s ease-in;
    display: none;
}
.togglenav{
    display: block;
    width: 60%;
    transition: 0.3s ease-in;
    
}
.m-menu .x-profile{
    background:#ec3b5c;
    min-height: 100px;
    padding: 30px 10px;
    color: #fff;
}
.m-menu .x-profile img{
    width: 100%;
    border-radius: 100%;
}
.m-menu .x-profile a{
    font-size: 1.2em;
    color: #eee
}

.m-menu .links a{
    background: #fff;
    padding: 10px;
    display: block;
}
.m-menu .links a i{
    padding-right: 5px
}
.dashboard-content{
    padding:0px 0px;
}
.xpackage-selected{
    background: #f91942 !important;
    color: #fff !important;
    transition: 0.2s ease-in;
}
.x-addToCartBtn{
    background: #fff !important;
    color: grey !important;
    border: grey !important;
}
.x-addToCartBtn:hover{
    background: #f91942!important;
    color: #fff !important;
    border: unset !important;
}
/* 
.add-listing-section .switcher-content{
    opacity: unset;
    pointer-events: unset;
} */
.slick-slider.slick-initialized div:focus{
outline: none !important;
border: 0px !important;
box-shadow: 0px !important
}
.rtl{
    direction: rtl !important
}
.rtl .listing-item-content{
direction: rtl;
padding-right: 20px
}
.rtl .cardxtra{
    direction: rtl
}
.rtl .xreview{
    float: right
}
.rtl .xprice{
    direction: ltr;
}
.rtl .g_ib.g_left.t_white{
    float: right
}

.rtl #footer ul.footer-links{
float: right
}
.rtl #footer .footer-links li:before{
    display: none
}
.rtl .social-icons.margin-top-20{
    float: right;
}
.rtl .avatar {
    float: right;
    padding: 0 0px 0 20px;
    right: 0px;
}
.rtl .attraction .comment-content {
    color: #666;
    padding: 0 100px 0 0px;
}
.rtl .attraction  span.date{
text-align: right
}
.rtl .attraction  .star-rating{
    left: 0;
    right: unset;
}

.rtl .attraction .comments.listing-reviews ul{
padding: 0px;
}
.rtl .attraction .listing-features.margin-top-0 i{
    float: right;
    margin-left: 5px;
}
.rtl nav#breadcrumbs{
left: 0; right: unset;
}
.rtl .small-dialog-header{
    right:-40px;
    left:unset;
    text-align: right
}
.rtl .tabs-nav li{
    float: right;
}
.rtl .tabs-container.alt{
text-align: right
}
.rtl .opening-hours ul li span{
    float: left;
}
.rtl .boxed-widget h3{
    text-align: left
}
.rtl .boxed-widget.booking-widget h3{
text-align: right
}
.rtl .checkboxes.margin-top-10 label{
    padding-right: 28px;
    margin-left: 20px;

}
.rtl .checkboxes label:before{
    margin-left:10px;
    left: unset;
    right: 0;
    margin-right: unset
}
.rtl .g_right{
    float: left;
}
.rtl .destinationmodal .regions,.rtl .destinationmodal .countries{
text-align: right
}
.rtl .destinationmodal .regions{
border-left: 1px solid #e8e8e8
}
.rtl .destinationmodal .col-sm-3,.rtl .destinationmodal .col-sm-4{
    float: right;
    text-align: right
}

.rtl .destinationmodal .regions i.fa-chevron-right{
    display: none;
}
.rtl .destinationmodal .regions:hover i.fa-chevron-left,.rtl .destinationmodal .regions:focus i.fa-chevron-left{
    display: block
}

.rtl .destinationmodal .regions i{
    left: -7px; right: unset
}
.rtl .dashboard-content{
    margin-right: 260px;
    margin-left: unset
}
.rtl .message-avatar{
    right: 30px;
    left: unset;
}
.rtl .message-by{
    margin-right: 85px;
    margin-left: unset
}
.rtl .comment-content{
padding: 0px 100px 0px 0px
}
.rtl .comment-by span.date{
    text-align: unset
}
.rtl .attraction .col-lg-8.col-md-8.padding-right-30{
    float: right;
}
.rtl .attraction .col-lg-4.col-md-4.margin-top-35.sticky{
    float: left;
}
.rtl .left-side,.rtl #logo, #navigation{
    float: right;
}
.rtl .right-side{
    float: left;
}
.rtl .m-menu{
    left: unset;
    right: 0;
}

.goog-te-gadget-simple{
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    outline: none;
    font-size: 15px;
    color: #808080;
    margin: 0 0 16px 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border: 1px solid #dbdbdb !important;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    opacity: 1;
    border-radius: 3px;
}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span {
    color: grey
}
.goog-te-gadget-icon{display:none !important;}
iframe .goog-te-menu2-item{
    color: grey !important
}

